* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.view {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: rgb(245, 245, 245);
}

.container {
    display: flex;
    gap: 1.5rem;
}